rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    function isPortfolioOwner() {
      return request.auth != null
        && request.auth.token.portfolioOwner == true;
    }

    match /portfolios/default {
      allow read, write: if isPortfolioOwner();
    }
  }
}
